{% extends 'base.html' %} {% block content %}{% load static %}
<div class="left-items-title">
    <h1>Ombor | Kraska</h1>
</div>
<div class="lest-items-table">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>No</th>
            <th>Nomi</th>
            <th>Karobka soni</th>
            <th>Etiketika</th>
            <th>Kg</th>
            <th>Soni</th>
            <th>Dona narxi</th>
            <th>Jami narxi</th>
            <th>Qo'shish</th>
            <th>Ayirish</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Mustang</td>
            <td>600</td>
            <td>600</td>
            <td>1.5</td>
            <td>3600</td>
            <td>35 ming</td>
            <td>21 mln</td>
            <td><button>Qo'shish</button></td>
            <td><button>Ayirish</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mustang</td>
            <td>600</td>
            <td>600</td>
            <td>1.5</td>
            <td>3600</td>
            <td>35 ming</td>
            <td>21 mln</td>
            <td><button>Qo'shish</button></td>
            <td><button>Ayirish</button></td>
        </tr>
    </table>
</div>
{% endblock %}